{% extends "base.html" %}
{% block content %}

    <div style="text-align: center; margin-top: 20px;">
        <img src="{{ url_for('static', filename='eda_images/' + filename) }}" alt="Selected Image" 
             style="max-width: 90%; height: auto; border: 1px solid #ddd; padding: 10px;">
        <br><br>
        <a href="{{ url_for('eda_dashboard') }}">
            <button style="padding: 10px 20px; font-size: 16px; cursor: pointer;">Back to Dashboard</button>
        </a>
    </div>
{% endblock %}
